* {
    padding: 0;
    margin: 0;
}
.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character {
    width: 40px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: 150px;
}
#Dino {
    position: absolute;
    right: -9px;
}

#beginBtn {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 7px 20px;
    height: 50%;
    width: 16.4%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d);
    color: #fff;
    transition: all 0.3s ease;
}

#restartBtn {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 7px 20px;
    height: 50%;
    width: 16.4%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d);
    color: #fff;
    transition: all 0.3s ease;
}



#Score {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 50%;
    width: 15%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d);
    font: Garamond;
    font-weight: bold;
    color: #131313;
    transition: all 0.3s ease;
} 

.animate{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top:100px;}
    70%{top:105px;}
    100%{top:150px;}
}

#block {
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 130px;
    left: 480px;
}

/* #BlockImg {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 470px;
    top: 205px;
} */

.animate1 {
    animation: block 1s infinite linear;
}

.animateLow {
    animation: block 0.7s infinite linear;
}

@keyframes block {
    0%{left:480px;}
    100%{left:-40px;}
}